<?xml version="1.0" encoding="utf-8"?>
<config>
    <width>800</width>
    <height>600</height>
    <camara>
        <x>-6</x>
        <y>0</y>
        <z>0</z>
        <upx>0</upx>
        <upy>1</upy>
        <upz>0</upz>
        <lookatx>1</lookatx>
        <lookaty>0</lookaty>
        <lookatz>0</lookatz>
    </camara>
    <esfera1>
        <x>8</x>
        <y>0</y>
        <z>0</z>
        <radio>2.0</radio>
        <ka>
            <valor>0.1</valor>
            <r>255</r>
            <g>0</g>
            <b>255</b>
        </ka>
        <kd>
            <valor>0.5</valor>
            <r>255</r>
            <g>0</g>
            <b>255</b>
        </kd>
        <ks>
            <valor>0.8</valor>
            <brillo>5</brillo>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </ks>
        <kt>
            <r>0.2</r>
            <g>0.8</g>
            <b>0.8</b>
        </kt>
        <kreflx>
            <r>0.5</r>
            <g>0.5</g>
            <b>0.5</b>
        </kreflx>
    </esfera1>
    <esfera2>
        <x>4</x>
        <y>-1</y>
        <z>-1</z>
        <radio>1.0</radio>
        <ka>
            <valor>0.1</valor>
            <r>255</r>
            <g>0</g>
            <b>255</b>
        </ka>
        <kd>
            <valor>0.5</valor>
            <r>255</r>
            <g>0</g>
            <b>255</b>
        </kd>
        <ks>
            <valor>0.8</valor>
            <brillo>5</brillo>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </ks>
        <kt>
            <r>0.0</r>
            <g>0.0</g>
            <b>0.0</b>
        </kt>
        <kreflx>
            <r>0.5</r>
            <g>0.5</g>
            <b>0.5</b>
        </kreflx>
    </esfera2>
    <cilindro1>
        <base>
            <x>5</x>
            <y>-5</y>
            <z>3</z>
        </base>
        <direccion>
            <x>0</x>
            <y>1</y>
            <z>0</z>
        </direccion>
        <radio>1.0</radio>
        <altura>2.0</altura>
        <ka>
            <valor>0.1</valor>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </ka>
        <kd>
            <valor>0.5</valor>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </kd>
        <ks>
            <valor>0.8</valor>
            <brillo>5</brillo>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </ks>
        <kt>
            <r>0.0</r>
            <g>0.0</g>
            <b>0.0</b>
        </kt>
        <kreflx>
            <r>0.0</r>
            <g>0.0</g>
            <b>0.0</b>
        </kreflx>
    </cilindro1>
    <cilindro2>
        <base>
            <x>8</x>
            <y>3</y>
            <z>3</z>
        </base>
        <direccion>
            <x>0</x>
            <y>1</y>
            <z>0</z>
        </direccion>
        <radio>1.0</radio>
        <altura>2.0</altura>
        <ka>
            <valor>0.1</valor>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </ka>
        <kd>
            <valor>0.5</valor>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </kd>
        <ks>
            <valor>0.8</valor>
            <brillo>5</brillo>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </ks>
        <kt>
            <r>0.0</r>
            <g>0.0</g>
            <b>0.0</b>
        </kt>
        <kreflx>
            <r>0.0</r>
            <g>0.0</g>
            <b>0.0</b>
        </kreflx>
    </cilindro2>
    <luces>
        <luz1>
            <x>7</x>
            <y>4.5</y>
            <z>0</z>
            <r>0.7</r>
            <g>0.2</g>
            <b>0.2</b>
        </luz1>
        <luz2>
            <x>3</x>
            <y>4.5</y>
            <z>0</z>
            <r>0.8</r>
            <g>0.8</g>
            <b>0.1</b>
        </luz2>
    </luces>
    <paredes>
        <paredFondo>
            <normal>
                <x>-1</x>
                <y>0</y>
                <z>0</z>
            </normal>
            <centro>
                <x>10</x>
                <y>0</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>255</r>
            <g>0</g>
            <b>0</b>
            <ka>0.8</ka>
            <kd>0.2</kd>
            <ks>0.0</ks>
        </paredFondo>
        <paredIzquierda>
            <normal>
                <x>0</x>
                <y>0</y>
                <z>1</z>
            </normal>
            <centro>
                <x>5</x>
                <y>0</y>
                <z>-5</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>0</r>
            <g>255</g>
            <b>0</b>
            <ka>0.1</ka>
            <kd>0.9</kd>
            <ks>0.0</ks>
        </paredIzquierda>
        <paredSuperior>
            <normal>
                <x>0</x>
                <y>-1</y>
                <z>0</z>
            </normal>
            <centro>
                <x>5</x>
                <y>5</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>255</r>
            <g>255</g>
            <b>0</b>
            <ka>0.2</ka>
            <kd>0.8</kd>
            <ks>0.0</ks>
        </paredSuperior>
        <paredDerecha>
            <normal>
                <x>0</x>
                <y>0</y>
                <z>-1</z>
            </normal>
            <centro>
                <x>5</x>
                <y>0</y>
                <z>5</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>0</r>
            <g>0</g>
            <b>255</b>
            <ka>0.1</ka>
            <kd>0.9</kd>
            <ks>0.0</ks>
        </paredDerecha>
        <paredInferior>
            <normal>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </normal>
            <centro>
                <x>5</x>
                <y>-5</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>255</r>
            <g>0</g>
            <b>255</b>
            <ka>0.7</ka>
            <kd>0.3</kd>
            <ks>0.0</ks>
        </paredInferior>
    </paredes>
</config>