<?xml version="1.0" encoding="utf-8"?>
<config>
    <width>800</width>
    <height>600</height>
    <camara>
        <x>-4</x>
        <y>0</y>
        <z>0</z>
        <upx>0</upx>
        <upy>1</upy>
        <upz>0</upz>
        <lookatx>1</lookatx>
        <lookaty>0</lookaty>
        <lookatz>0</lookatz>
    </camara>
    <luces>
        <luz>
            <x>2.0</x>
            <y>3.35</y>
            <z>0</z>
            <r>1.0</r>
            <g>1.0</g>
            <b>1.0</b>
        </luz>
        <luz>
            <x>0.0</x>
            <y>3.35</y>
            <z>0</z>
            <r>1.0</r>
            <g>1.0</g>
            <b>1.0</b>
        </luz>
    </luces>
    <objetos>
        <pared>
            <!-- Pared fondo -->
            <tipoPared>1</tipoPared>
            <normal>
                <x>-1</x>
                <y>0</y>
                <z>0</z>
            </normal>
            <centro>
                <x>3</x>
                <y>0</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.9</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>10</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </pared>
        <pared>
            <!-- Pared izquierda -->
            <tipoPared>2</tipoPared>
            <normal>
                <x>0</x>
                <y>0</y>
                <z>1</z>
            </normal>
            <centro>
                <x>5</x>
                <y>0</y>
                <z>-4</z>
            </centro>
            <ancho>10</ancho>
            <alto>7.5</alto>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>130</r>
                    <g>40</g>
                    <b>40</b>
                </ka>
                <kd>
                    <valor>0.9</valor>
                    <r>130</r>
                    <g>40</g>
                    <b>40</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>10</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </pared>
        <pared>
            <!-- Pared Superior -->
            <tipoPared>3</tipoPared>
            <normal>
                <x>0</x>
                <y>-1</y>
                <z>0</z>
            </normal>
            <centro>
                <x>5</x>
                <y>3.75</y>
                <z>0</z>
            </centro>
            <ancho>8</ancho>
            <alto>10</alto>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.9</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>10</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </pared>
        <pared>
            <!-- Pared derecha -->
            <tipoPared>4</tipoPared>
            <normal>
                <x>0</x>
                <y>0</y>
                <z>-1</z>
            </normal>
            <centro>
                <x>5</x>
                <y>0</y>
                <z>4</z>
            </centro>
            <ancho>10</ancho>
            <alto>7.5</alto>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>40</r>
                    <g>90</g>
                    <b>40</b>
                </ka>
                <kd>
                    <valor>0.9</valor>
                    <r>40</r>
                    <g>90</g>
                    <b>40</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>10</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </pared>
        <pared>
            <!-- Pared inferior -->
            <tipoPared>5</tipoPared>
            <normal>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </normal>
            <centro>
                <x>5</x>
                <y>-3.75</y>
                <z>0</z>
            </centro>
            <ancho>8</ancho>
            <alto>10</alto>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.9</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>10</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </pared>
        <esfera>
            <!-- Esfera 1 -->
            <centro>
                <x>1.5</x>
                <y>-0.5</y>
                <z>-0.7</z>
            </centro>
            <radio>1.25</radio>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>0</g>
                    <b>0</b>
                </ka>
                <kd>
                    <valor>0.0</valor>
                    <r>255</r>
                    <g>0</g>
                    <b>0</b>
                </kd>
                <ks>
                    <valor>0.5</valor>
                    <brillo>50</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>1.0</kt>
                <indiceRefraccion>1.5</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </esfera>
        <!-- Esfera 2 -->
        <esfera>
            <centro>
                <x>1.5</x>
                <y>-1.0</y>
                <z>2.0</z>
            </centro>
            <radio>0.75</radio>
            <propObjeto>
                <ka>
                    <valor>0.0</valor>
                    <r>255</r>
                    <g>0</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.0</valor>
                    <r>255</r>
                    <g>0</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>1.0</kreflexion>
            </propObjeto>
        </esfera>
        <!-- Cilindro 1 -->
        <cilindro>
            <base>
                <x>1.5</x>
                <y>-1.75</y>
                <z>0</z>
            </base>
            <direccion>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </direccion>
            <radio>0.7</radio>
            <altura>1.5</altura>
            <propObjeto>
                <ka>
                    <valor>0.4</valor>
                    <r>0</r>
                    <g>255</g>
                    <b>0</b>
                </ka>
                <kd>
                    <valor>0.6</valor>
                    <r>0</r>
                    <g>255</g>
                    <b>0</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </cilindro>
        <!-- Cilindro 2 -->
        <!--
        <cilindro>
            <base>
                <x>8</x>
                <y>3</y>
                <z>3</z>
            </base>
            <direccion>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </direccion>
            <radio>1.0</radio>
            <altura>2.0</altura>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.5</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.8</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>0.0</kt>
                <indiceRefraccion>1.0</indiceRefraccion>
                <kreflexion>0.0</kreflexion>
            </propObjeto>
        </cilindro>
        -->
    </objetos>
</config>