<?xml version="1.0" encoding="utf-8"?>
<config>
    <width>800</width>
    <height>600</height>
    <camara>
        <x>-6</x>
        <y>0</y>
        <z>0</z>
        <upx>0</upx>
        <upy>1</upy>
        <upz>0</upz>
        <lookatx>1</lookatx>
        <lookaty>0</lookaty>
        <lookatz>0</lookatz>
    </camara>
    <luces>
        <luz>
            <x>8</x>
            <y>4.5</y>
            <z>0</z>
            <r>1.0</r>
            <g>1.0</g>
            <b>1.0</b>
        </luz>
        <luz>
            <x>2</x>
            <y>4.5</y>
            <z>0</z>
            <r>1.0</r>
            <g>1.0</g>
            <b>1.0</b>
        </luz>
    </luces>
    <objetos>
        <pared>
            <!-- Pared fondo -->
            <normal>
                <x>-1</x>
                <y>0</y>
                <z>0</z>
            </normal>
            <centro>
                <x>10</x>
                <y>0</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </pared>
        <pared>
            <!-- Pared izquierda -->
            <normal>
                <x>0</x>
                <y>0</y>
                <z>1</z>
            </normal>
            <centro>
                <x>5</x>
                <y>0</y>
                <z>-5</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>0</r>
            <g>255</g>
            <b>0</b>
        </pared>
        <pared>
            <!-- Pared Superior -->
            <normal>
                <x>0</x>
                <y>-1</y>
                <z>0</z>
            </normal>
            <centro>
                <x>5</x>
                <y>5</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>255</r>
            <g>255</g>
            <b>0</b>
        </pared>
        <pared>
            <!-- Pared derecha -->
            <normal>
                <x>0</x>
                <y>0</y>
                <z>-1</z>
            </normal>
            <centro>
                <x>5</x>
                <y>0</y>
                <z>5</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>0</r>
            <g>0</g>
            <b>255</b>
        </pared>
        <pared>
            <!-- Pared inferior -->
            <normal>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </normal>
            <centro>
                <x>5</x>
                <y>-5</y>
                <z>0</z>
            </centro>
            <ancho>10</ancho>
            <alto>10</alto>
            <r>255</r>
            <g>255</g>
            <b>255</b>
        </pared>
        <esfera>
            <!-- Esfera 1 -->
            <centro>
                <x>5</x>
                <y>0</y>
                <z>0</z>
            </centro>
            <radio>2.0</radio>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.00</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.0</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt> <!-- para que transmita toda la luz sin coloracion -->
                    <r>1.0</r> 
                    <g>1.0</g>
                    <b>1.0</b>
                </kt>
                <kreflx>
                    <indice>1.5</indice> <!-- indice refraccion vidrio -->
                    <r>0.0</r>
                    <g>0.0</g>
                    <b>0.0</b> 
                </kreflx>
            </propObjeto>
        </esfera>
        <!-- Esfera 2 -->
        <!-- 
        <esfera>
            <centro>
                <x>4</x>
                <y>-1</y>
                <z>-1</z>
            </centro>
            <radio>1.0</radio>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>0</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.5</valor>
                    <r>255</r>
                    <g>0</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.8</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>
                    <r>0.0</r>
                    <g>0.0</g>
                    <b>0.0</b>
                </kt>
                <kreflx>
                    <indice>1.0</indice>
                    <r>0.5</r>
                    <g>0.5</g>
                    <b>0.5</b>
                </kreflx>
            </propObjeto>
        </esfera>
        -->
        <!-- Cilindro 1 -->
        <cilindro>
            <base>
                <x>4</x>
                <y>-2</y>
                <z>2</z>
            </base>
            <direccion>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </direccion>
            <radio>1.5</radio>
            <altura>3.5</altura>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.5</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.8</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>
                    <r>0.0</r>
                    <g>0.0</g>
                    <b>0.0</b>
                </kt>
                <kreflx>
                    <indice>1.0</indice>
                    <r>0.0</r>
                    <g>0.0</g>
                    <b>0.0</b>
                </kreflx>
            </propObjeto>
        </cilindro>
        <!-- Cilindro 2 -->
        <!--
        <cilindro>
            <base>
                <x>8</x>
                <y>3</y>
                <z>3</z>
            </base>
            <direccion>
                <x>0</x>
                <y>1</y>
                <z>0</z>
            </direccion>
            <radio>1.0</radio>
            <altura>2.0</altura>
            <propObjeto>
                <ka>
                    <valor>0.1</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ka>
                <kd>
                    <valor>0.5</valor>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </kd>
                <ks>
                    <valor>0.8</valor>
                    <brillo>5</brillo>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                </ks>
                <kt>
                    <r>0.0</r>
                    <g>0.0</g>
                    <b>0.0</b>
                </kt>
                <kreflx>
                    <indice>1.0</indice>
                    <r>0.0</r>
                    <g>0.0</g>
                    <b>0.0</b>
                </kreflx>
            </propObjeto>
        </cilindro>
        -->
    </objetos>
</config>